* {
  margin: 0;
  font-family: Helvetica;
}

.form-container {
  display: flex;
  flex-flow: column nowrap;

  margin: 15rem auto;

max-width:25rem;
min-height: 50vh;


  border-radius: .5rem;

  box-shadow: 0px 0px 30px rgb(0, 0, 0, .5);
}

form {
  padding: 1rem;
}

label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .1rem;
}

input {
  padding: .3rem;
  border: 2px solid black;
  border-radius: .1rem;
margin-bottom: 1rem;
}


.form__name {
  display: flex;
  flex-flow: column nowrap;
  margin-block-start: 1em;
  margin-bottom: 1rem;


}

.form__name > * {
  display: flex;
  flex-flow: column nowrap;
  margin-block-start: .3em;


}

.form__address {
  display: flex;
  flex-flow: column nowrap;
}


.form__address input {
  margin-bottom: 1rem;
}

.address{
  display: flex;
  flex-flow: column nowrap;
  margin-block-start: 1em;

}



.display__user {
  padding: 1rem;
  width: 15vw;
  overflow-y: auto;
  overflow-x: hidden;
}

#form__button {
  background-color: white;

  padding: .3rem;
  border: 2px solid black;
  border-radius: .1rem;
  margin-top: 1rem;
  justify-self: end;
  cursor: pointer;
}
